/* Global Styles */

/* Define color variables for consistency */
:root {
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--accent-color: #28a745;
	--background-color: #f8f9fa;
	--text-color: #212529;
	--dark-blue: #043A53;
	--light-gray: #F2F5F6;
	--black: #12141D;
	--white: #ffffff;
}

/* Reset default margins and paddings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Apply global font settings */
body {
	font-family: lato;
	font-size: 16px;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--background-color);
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 16px;
}

/* Paragraph styling */
p {
	margin-bottom: 16px;
}

/* Link styling */
a {
	color: var(--dark-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Navigation Links */
.navlinks {
	list-style-type: none;
	font-family: Lato, sans-serif;
	font-size: 16px;
	display: flex;
	width: 487px;
	justify-content: space-between;
	color: var(--black);
}

/* Buttons */
.primaryButton,
.getStartedButton {
	width: 92px;
	height: 50px;
	border-radius: 42px;
	background-color: var(--dark-blue);
	color: var(--white);
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.primaryButton:hover,
.getStartedButton:hover {
	background-color: var(--secondary-color);
	
}
.getStartedButton {
	width: 141px;
	height: 60px;
	border-radius: 55px;
	box-shadow: 0px 10px 47px 0px var(--dark-blue);
}

.secondaryButton {
	width: 92px;
	height: 50px;
	border-radius: 42px;
	background-color: var(--white);
	color: var(--black);
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.secondaryButton:hover {
	background-color: var(--dark-blue);
	color:var(--white);
	
}
/* Header Section */
.headerSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}
@media (min-width:769px) {
	.headerSection{
	background-color: var(--light-gray);
	}
}

/* Hero Section */

.heroSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 100px;
	background-color: var(--light-gray);
	flex-wrap: wrap;
	gap: 20px;
}

@media (max-width: 1024px) {
	.heroSection {
		flex-direction: column;
		text-align: center;
		padding: 50px;
	}
}

@media (max-width: 768px) {
	.heroSection {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 30px;
	}

}

.heroSectionContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 709px;
	text-align: center;
}

.heroSectionHeading {
	font-size: 30px;
	font-weight: 600;
	font-family: Lato, sans-serif;
	line-height: 44px;
	color: var(--black);
}

@media (min-width: 769px) {
	.heroSectionHeading{
		font-size: 64px;
		font-weight: 800;
		line-height: 60px;
	}
	
}

.heroSectionHeadingSpan{
	color: var(--dark-blue)

}

.heroSectionDescription {
	font-size: 14px;
	font-weight: 500;
	font-family: Lato, sans-serif;
	color: var(--black);
}
@media (min-width: 769px){
	.heroSectionDescription {
			font-size: 20px;
		}
}
.playButton{
	display: flex;
	color: #043A53;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--light-gray);
	width: 230px;
	height:67px;
	margin-top: 50px;
}
@media (min-width:769px){
.playButton{
		margin-top: 0px;
		margin-left: 40px;
}
}

.heroSectionButtons{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width:769px) {
.heroSectionButtons {
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	}	
}
.playButton img {
	height: 35px;
	width: 35px;
	margin-right: 10px;
}

@media (max-width: 768px) {
	.heroSectionImagesDesktop{
      display: none;
	}	
}
.heroSectionImagesMobile{
	width: 100%;
	height: 300px;
}

@media (min-width: 769px) {
	.heroSectionImagesMobile {
		display: none;
	}
}

.trustedBands {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 132px;
	padding: 0px 100px;
}

.trustedBands div {
	flex-grow: 1;
	font-size: 16px;
}

@media (max-width: 768px) {
	.trustedBands {
		flex-wrap: wrap;
		justify-content: center;
		height: 200px;
		padding: 0px;
		align-items: center;
		text-align: center;
	}

	.trustedBands div {
		font-size: 12px;
	}
}

.companySection {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	row-gap: 30px;
	align-items: center;
	justify-content: space-between;
}

.companySection img {
	height: 25px;
}

@media (max-width: 768px) {
	.companySection {
		justify-content: center;
	}

	.companySection img {
		height: 16px;
	}
}
.logo{
	width:160px;
	height:24px;
}

@media (max-width:768px) {

	.navSection,
	.headerButtons{ 
	display: none;
	}
	
}

.hamburger-container {
	display: block;
	position: relative;
	
}
.hamburger-backdrop::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transition: background 0.5s;
}
.hamburger-backdrop.show::before {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.hamburger-side-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	max-width: 450px;
	width:100%;
	transform: translateX(450px);
	transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	background-color: var(--light-gray);
}
.show .hamburger-side-menu {
	transform: translateX(0px);
}
.hamburger-container .close-button {
	position: absolute;
	left: 15px;
	top: 30px;
	padding: 10px;
}
.hamburger-side-menu .navlinks {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	padding-left:20px;
}
.hamburger-side-menu .navlinks li {
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.hamburger-container {
		display: none;
	}
	.hamburger-backdrop {
		display: none;
	}
}
.hamburger-menu {
	width: 24px;
	height: 24px;
}

.mobileLogin{
	display: flex;
	justify-content: flex-end;
	margin:20px;
}
/* /* Video Section */
#video-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 150px 0px 150px;
	background-color: var(--dark-blue);
	flex-direction: column;
}

/* Text Content */
.video-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width:1140px;
}

.video-title {
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	color: var(--white);
	width:52%;
}

.video-title span {
	color: #FEC544;
	
}

.video-description {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: var(--white);
	width:48%;	
}

/* Video Thumbnail */
.video-thumbnail {
	position: relative;
	width: 1130px;
	height:636px;
	border-radius: 10px;
	overflow: hidden;
}

.video-thumbnail img {
	width: 100%;
	display: block;
	border-radius: 10px;
}

/* Play Icon */
.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s ease;
}

.video-thumbnail:hover .play-icon {
	background: rgba(0, 0, 0, 0.8);
}

 @media (max-width: 768px) {
 	#video-section {
 		flex-direction: column;
 		text-align: center;
 		padding: 30px;
 	}

 	.video-content {
 		flex-direction: column;
 		width: 100%;
 		text-align: left;
 	}

 	.video-title {
 		font-size: 30px;
 		width: 100%;
 		line-height: 38px;
 	}

 	.video-description {
 		font-size: 14px;
 		width: 100%;
 		line-height: 20px;
 	}


 	.video-thumbnail {
 		width: 100%;
 		max-width: 400px;
 		margin-top: 20px;
 		height: auto;
 	}
 }