/* Global Styles */

/* Define color variables for consistency */
:root {
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--accent-color: #28a745;
	--background-color: #f8f9fa;
	--text-color: #212529;
	--dark-blue: #043A53;
	--light-gray: #F2F5F6;
	--black: #12141D;
	--white: #ffffff;
}

/* Reset default margins and paddings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Apply global font settings */
body {
	font-family: lato;
	font-size: 16px;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--background-color);
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 16px;
}

/* Paragraph styling */
p {
	margin-bottom: 16px;
}

/* Link styling */
a {
	color: var(--dark-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Navigation Links */
.navlinks {
	list-style-type: none;
	font-family: Lato, sans-serif;
	font-size: 16px;
	display: flex;
	width: 487px;
	justify-content: space-between;
	color: var(--black);
}

/* Buttons */
.primaryButton,
.getStartedButton {
	width: 92px;
	height: 50px;
	border-radius: 42px;
	background-color: var(--dark-blue);
	color: var(--white);
	border: none;
	outline: none;
	cursor: pointer;
}

.getStartedButton {
	width: 141px;
	height: 60px;
	border-radius: 55px;
	box-shadow: 0px 10px 47px 0px var(--dark-blue);
}

.secondaryButton {
	width: 92px;
	height: 50px;
	border-radius: 42px;
	background-color: var(--white);
	color: var(--black);
	border: none;
	outline: none;
	cursor: pointer;
}

/* Header Section */
.headerSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light-gray);
	padding: 15px;
}

/* Hero Section */

.heroSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 100px;
	background-color: var(--light-gray);
	flex-wrap: wrap;
	gap: 20px;
}

@media (max-width: 1024px) {
	.heroSection {
		flex-direction: column;
		text-align: center;
		padding: 50px;
	}
}

@media (max-width: 768px) {
	.heroSection {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 30px;
	}

}

.heroSectionContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 709px;
	text-align: center;
}

.heroSectionHeading {
	font-size: 30px;
	font-weight: 600;
	font-family: Lato, sans-serif;
	line-height: 44px;
	color: var(--black);
}

@media (min-width: 769px) {
	.heroSectionHeading{
		font-size: 64px;
		font-weight: 800;
		line-height: 60px;
	}
	
}

.heroSectionHeadingSpan{
	color: var(--dark-blue)

}

.heroSectionDescription {
	font-size: 14px;
	font-weight: 500;
	font-family: Lato, sans-serif;
	color: var(--black);
}
@media (min-width: 769px){
	.heroSectionDescription {
			font-size: 20px;
		}
}
.playButton{
	display: flex;
	color: #043A53;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--light-gray);
	width: 230px;
	height:67px;
	margin-top: 50px;
}
@media (min-width:769px){
.playButton{
		margin-top: 0px;
		margin-left: 40px;
}
}

.heroSectionButtons{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width:769px) {
.heroSectionButtons {
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	}	
}
.playButton img {
	height: 35px;
	width: 35px;
	margin-right: 10px;
}

@media (max-width: 768px) {
	.heroSectionImagesDesktop{
      display: none;
	}	
}
.heroSectionImagesMobile{
	width: 100%;
	height: 300px;
}

@media (min-width: 769px) {
	.heroSectionImagesMobile {
		display: none;
	}
}

.trustedBands{
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	height:200px;
	padding: 0px;
	justify-content: center;
}
.trustedBands div{
	font-size: 12px;
}

@media (min-width:769px) {
	.trustedBands {
		    flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
			height: 132px;
			padding: 0px 100px;
		}
	.trustedBands div{
		flex-grow: 1;
		font-size: 16px;

	}	


	
}

.companySection{
	display: flex;
	flex-wrap: wrap;
	gap:30px;
	row-gap: 30px;
	align-items: center;
	justify-content: center;
}

.companySection img{
	height:16px;
}

@media (min-width:769px) {
  .companySection{
	justify-content: space-between;
  }

  .companySection img {
  	height: 25px;
  }
	
}
